* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* transition: tranform 0.4s ease-out, width 0.8s ease, background-color 0.3s ease, color 0.3s ease,
    border 0.15s ease-in-out, color 0.2s ease ; */
    transition: width 0.8s ease, scale 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'coolHeading';
    src: url(../assets/Fonts/Birthstone-Regular.ttf);
}

@font-face {
    font-family: 'headline';
    src: url(../assets/Fonts/RussoOne-Regular.ttf);
}

@font-face {
    font-family: 'bouble';
    src: url(../assets/Fonts/RubikScribble-Regular.ttf);
}

.text-headline {
    font-family: 'headline';
}

.text-coolHeading {
    font-family: 'coolHeading';
}

.text-bouble {
    font-family: 'bouble';
}

.side-bar {
    transition: width 0.3s ease;
    background-color: #ad4343;
}

.gradient-btn {
    background: linear-gradient(90deg, #9e00a3,#6300a5, #0011ad);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

  